*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#container > footer {
  display: flex;
}
/* Added to target the footer */
#navbar {
  padding: 2em;
  justify-content: space-evenly;
  background-color: black;
}
#navbar a {
  color: rgb(229 229 229);
  text-decoration: none;
}

#navbar a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: 24px;
}

/* Will need to use NavLink? */
/* #navbar a.active {
  color: yellow;
} */

#footer {
  padding: 2em;
  justify-content: space-evenly;
  color: white;
  background-color: black;
}
/* Added to style footer */

#footer a {
  color: rgb(229 229 229);
  text-decoration: none;
}

#footer a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
  font-size: 24px;
}

h1 {
  font-size: 4em;
}
h1:hover {
  font-size: 6em;
}

#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}

.home {
  background-color: grey;
  color: white;
}

.darkCoffee {
  background-color:	#2d1b08;
  color: white;
}

.latte {
  background-color:	#ae9f8c;
  color: white;
}

.lavender {
  background-color:	#E6E6FA;
  color: white;
}

.botanicalGreen {
  background-color:	#77966e ;
  color: white;
}
